
.offcanvas .myfile .touxiang{
	background-color: #666;
	height: 200px;
}
.offcanvas .myfile .touxiang img{
	padding: 18% 0;
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
}
.offcanvas .myfile .jianjie{
	margin-top: 20%;
}
.offcanvas .myfile .jianjie p{
    width: 90%;
    padding: 10px 20px;
    margin: 0 auto;
}
#TabBar{
	 position:fixed; 
	 left:0px; 
	 bottom:0px; 
	 z-index:9999;
}